

.title {
    margin-top: 0.25em;
    text-align: center;
    font-size: 5em;
}

.subtitle {
    margin-top: 1em;
    text-align: center;
    
}
.subtitle h3 {
    font-size: 2em;
}
.subtitle h2 {
    font-size: 3em;
}

.section {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
}


img {
    vertical-align: middle;
}

span {
    font-size: 1.5em;
}