<body>
  <div class="title">
    <h1>Pokemon Guide</h1>
  </div>
  <div class="subtitle">
    <h3>
      A helpful tool for learning more about everything Pokemon.
    </h3>
  </div>
  <div class="section">
    <div class="subtitle">
      <h2>Pokedex</h2>
    </div>
    <div>
      <img
        style="margin-right: 100px"
        src="../../../assets/KantoStarters.jpg"
      />
      <span>
        A comprehensive Pokedex featuring all 891 Pokemon across every
        generation.
      </span>
    </div>
  </div>
  <div class="section">
    <div class="subtitle">
      <h2>Type Matchups</h2>
    </div>
    <div>
      <span style="margin-right: 100px">
        Experiment with the type chart to view matchups between different type
        combinations
      </span>
      <img
        src="../../../assets/TypeChart.png"
      />
    </div>
  </div>
  <div class="section">
    <div class="subtitle" style="margin-bottom: 2em;">
      <h2>Damage Calculator</h2>
    </div>
    <div>
      <img style="margin-right: 100px;"
        src="../../../assets/SuperEffective.png"
      />
      <span >
        Simulate turns of a battle with the in-depth damage calculator
      </span>
    </div>
  </div>
</body>
